.footer7, .header7, .o_report_layout_updated7 {
    font-family: 'Lato', 'Noto';
    color: #000;
}
.header7 {
    /*border-bottom: 1px solid hsla(220, 100%, 61%, 1);*/
    padding: 10px;
    img {
        max-height: 90px;
        max-width: 300px;
    }
}
.footer7 {
    margin: 0 3px;
    margin-top: 200px;
    h4 {
        color: hsla(220, 100%, 61%, 1);
        font-weight: bolder;
    }
    .pagenumber {
        border: 3px solid hsla(220, 100%, 61%, 1);
        background-color: hsla(220, 100%, 81%, 1);
        color: white;
        padding: 4px 8px;
        text-align: center;
    }
}
.o_report_layout_updated7 {
     padding: 10px;
     > h2 h3 {
        text-transform: uppercase;
        color: hsla(220, 100%, 61%, 1);
    }
     
    table {
        border: 1px solid hsla(220, 100%, 61%, 1);
        thead th {
        color: hsla(220, 100%, 61%, 1);
         }
        
        thead {
            
            tr th {
                text-transform: uppercase;
                border: 1px solid hsla(220, 100%, 61%, 1);
                border-bottom: 2px hsla(220, 100%, 61%, 1);
            }
        }
        tbody {
            color: hsla(219, 92%, 15%, 1);
            tr {
                td {
                    /*border-top: none;*/
                    border-right: 1px solid hsla(220, 100%, 61%, 1);
                }
                &.o_line_section td,
                &.o_line_note td,
                &.is-subtotal td {
                    border-top: 1px solid hsla(220, 100%, 61%, 1);
                    border-bottom: 1px solid hsla(220, 100%, 61%, 1);
                }
                &.o_line_section td {
                    background-color:hsla(220, 100%, 61%, .25);
                    color:  hsla(219, 92%, 15%, 1);
                }
                &.is-subtotal,
                td.o_price_total {
                    /*background-color:hsla(220, 100%, 61%, .25);*/
                }
            }
        }
    }
    /* compat 12.0 */
    .page > table:not(.o_main_table) tr td:last-child {
        background-color: hsla(220, 100%, 61%, .25);
    }
    /* compat 12.0 */
    .row:not(#total) > div > table tr:not(:first-child):not(:last-child) td:last-child {
        background-color:hsla(220, 100%, 61%, .25);
    }
    /*Total table*/
    /* row div rule compat 12.0 */
    .row > div > table,
    div#total table {
        tr {
            &:first-child,
            &.o_subtotal {
                border-bottom: 1px solid hsla(220, 100%, 61%, 1);

                td:first-child {
                    border-right:1px solid hsla(220, 100%, 61%, 1);
                }
            }
            &:last-child td,
            &.o_total td {
                background-color: hsla(220, 100%, 61%, .25);
                color: hsla(220, 100%, 61%, 1);

                &:first-child {
                    border-right: none;
                }
            }
        }
    }
    
}


.col_5_7_1color{
    background-color:hsla(220, 100%, 61%, 1);
}

.col_4_7_2color{
    background-color:hsla(220, 100%, 70%, 1);

}

.col_2_7_3color{
    background-color:hsla(220, 100%, 77%, 1);

}
.col_1_7_4color{
    background-color:hsla(220, 100%, 83%, 1);

}
.col_1_7_5color{
    background-color:hsla(39, 0%, 56%, 1);    
}

.size_redueced7{
    height:10px; 
}

.row_margin{
    margin-bottom: 5px;
}
