.header {
    border-top: none;
}

.header5 {
    border-top: none;
    padding: 10px;
}

.img5 {
    max-height: 100px;
    margin-top: 10px;
    
}

.h3_5 {
    color:hsla(239, 100%, 23%, 1);
    font-weight: 700;
    font-size: 1.25rem;
    max-width: 300px;
    margin-bottom: 12px;
}

.col5_5 {
    font-size: .80rem;
}

.o_report_layout_updated5 {

   h2{
        color: hsla(239, 100%, 23%, 1);
        text-transform: uppercase;
        font-weight: 700;
    }
    table {
        border: 1px solid hsla(239, 100%, 23%, 1);
        thead {
            background-color: hsla(239, 100%, 23%, .25);
            border-bottom: 2px solid hsla(239, 100%, 23%, 1);
            tr th {
                text-transform: uppercase;
                border: 1px solid hsla(239, 100%, 23%, 1);
            }
        }
        tbody {
            color: hsla(239, 100%, 23%, 1);
            tr {
                td {
                    // remove border-top from standard layout
                    border-top: none;
                    border-right: 1px solid hsla(239, 100%, 23%, 1);
                }
                &.o_line_section td,
                &.o_line_note td,
                &.is-subtotal td {
                    border-top: 1px solid hsla(239, 100%, 23%, 1);
                    border-bottom: 1px solid hsla(239, 100%, 23%, 1);
                }
                &.o_line_section td {
                    background-color: hsla(239, 100%, 23%, .25);
                    color: #fff;
                }
                &.is-subtotal,
                td.o_price_total {
                    /*background-color: hsla(239, 100%, 23%, .25);*/
                }
            }
        }
    }
    /*Total table*/
    /* compat 12.0 */
    .row:not(#total) > div:has(table) {
        top: -16px;
    }
    /* row col rule compat 12.0 */
    .row > div > table,
    div#total table {
        td{
            &:last-child,
            &.o_total,
            &.text-right,{
                 /*border-top: 1px solid gray('200') !important;*/
                background-color: hsla(239, 100%, 23%, .25);
            }

        }
        tr {
            &:first-child td,
            &.o_subtotal {
                border-bottom:1px solid gray('200') !important;
            }
            &:last-child td,
            &.o_total,
            &.text-right, {
                border-top: 1px solid gray('200') !important;
               /* background-color: hsla(239, 100%, 23%, .25);*/
            }
        }
    }
}

.financial_info5{
    color:hsla(239, 100%, 23%, 1);
}

.footer {
    border-top: none;
}

.footer5 {
    font-size: .80rem;
    padding: 10px;
    border-top: none;
}

.col_5_5_1color{
    background-color:hsla(239, 100%, 21%, 1);
}

.col_4_5_2color{
    background-color:hsla(239, 100%, 33%, 1);

}

.col_2_5_3color{
    background-color:hsla(239, 100%, 64%, 1);

}
.col_1_5_4color{
    background-color:hsla(239, 100%, 63%, 0.73);

}
.col_1_5_5color{
    background-color:hsla(239, 100%, 63%, 0.73);    
}

.size_redueced5{
    height:10px; 
}

.row_margin{
    margin-bottom: 5px;
}