.o_layout_footer,
.o_layout_header {
    font-family: cursive;
    color: black;
}

.container {
    border-bottom: 1px solid #444039;
    border-top: 1px solid #444039;
    border-left: 1px solid #444039;
    border-right: 1px solid #444039;
}

.o_layout_header {
    min-width: 900px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    img {
        max-height: 96px;
        max-width: 200px;
        // margin-right: 16px;
    }
    h3 {
        color: #ed940e;
        font-weight: 700;
        margin-right: 10px;
        font-size: 1.25rem;
        max-width: 300px;
        // text-align: center
    }
}

#left {
    float: left;
    text-align: left;
    margin: 15px 15px;
    font-size: .80rem;
}

#center {
    display: inline-block;
    margin: 35px auto;
    // padding: 10% 0;
}

#right {
    float: right;
    padding: 5% 0;
    margin: 0 15px;
    // height: 60px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.o_layout_footer {
    .list-inline-item {
        white-space: nowrap;
    }
    ul {
        border-top: 1px solid #080500;
        border-bottom: 1px solid #080500;
        padding: 4px 0;
        margin: 0 0 4px 0;
        li {
            color: #ed940e;
        }
    }
}

.o_report_layout_updated1 {
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 620px;
    padding: 15px;
    margin-top: 70px;
    .table {
        border-top: 1px solid #ed940e;
    }
    .table td,
    .table th {
        border-top: none;
    }
    thead tr {
        color: #ed940e;
        background-color: rgba(66, 57, 42, 1);
    }
    tbody {
        color: #141414;
        tr {
            background-color: rgba(100, 69, 28, 0.212);
        }
    }
    /*Total table*/
    /* row div rule compat 12.0 */
    .row>div>table,
    div#total table {
        tr {
            background-color: transparent !important;
            /* first-child & last-child rule compat 12.0 */
            &:first-child,
            &:last-child,
            &.o_subtotal,
            &.o_total {
                border-top: none !important;
                td {
                    color: $o-brand-odoo;
                    border-top: 1px solid gray('400') !important;
                }
            }
        }
    }
}


/* special case for displaying report in iframe */

.o_in_iframe {
    .o_background_header {
        min-width: 0;
    }
}