.o_layout_footer,
.o_layout_header,
.o_report_layout_updated1 {
    font-family: 'cursive';
    color: #000;
}

.o_layout_header {
    min-width: 900px;
    max-height: 185px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    /*border-bottom: 1px solid red;*/
    border-bottom: 1px solid #ed940e;
    border-top: 1px solid #ed940e;
    border-left: 1px solid #ed940e;
    border-right: 1px solid #ed940e;
    img {
        max-height: 96px;
        max-width: 200px;
        // flex: flex-end;
        margin-bottom: 16px;
        margin-top: 16px;
    }
    .h2 {
        color: #ed940e;
        display: inline-block;
        font-weight: 700;
        font-size: 2.25rem;
        max-width: 300px;
        /*background-color: rgba(66, 57, 42, 1);*/
        // padding: 5px 5px 5px 0;
        text-align: right !important;
    }
    .company_address_update {
        // color: #ed940e;
        // background-color: rgba(66, 57, 42, 1);
        margin-top: 5px;
        margin-left: 5px;
        display: inline-block;
        max-height: 180px;
        text-align: left !important;
        // text-align: center ;
    }
}

.o_layout_footer {
    .list-inline-item {
        white-space: nowrap;
    }
    border-top: 1px solid #ed940e;
    ul {
        border-top: 1px solid #080500;
        border-bottom: 1px solid #080500;
        padding: 4px 0;
        margin: 0 0 4px 0;
        li {
            color: #ed940e;
        }
    }
}

.o_report_layout_updated1 {
    /*background-image: url(/base/static/img/bg_background_template.jpg);*/
    /*background-color: #b0aca4;*/
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 620px;
    padding: 5xp;
    margin-top: 100px;
    .table {
        border-top: 1px solid #ed940e;
    }
    .mb0 {
        // color: #ed940e;
        /*  display: flex;
        flex-direction: row;
        justify-content: center;*/
        // background-color: rgba(66, 57, 42, 1);
        display: inline-block;
        padding: 5px;
        text-align: left !important;
    }
    .table td,
    .table th {
        border-top: none;
    }
    thead th {
        color: #ed940e;
        background-color: rgba(66, 57, 42, 1);
    }
    tbody {
        color: #141414;
        tr {
            &:nth-child(odd) {
                /*background-color: rgba(66, 57, 42, 1);*/
            }
            &.o_line_section {
                color: #141414;
                /*background-color: rgba(80, 80, 107,1) !important;*/
            }
        }
    }
    /*Total table*/
    /* row div rule compat 12.0 */
    .row>div>table,
    div#total table {
        tr {
            &:nth-child(odd) {
                background-color: transparent;
            }
            /* first-child & last-child rule compat 12.0 */
            &:first-child,
            &:last-child,
            &.o_subtotal,
            &.o_total {
                border-top: none !important;
                td {
                    color: #ed940e;
                    border-top: 1px solid #ed940e !important;
                }
            }
        }
    }
}


/* special case for displaying report in iframe */

.o_in_iframe {
    .o_layout_header {
        min-width: 0;
    }
}