.header {
    border-top: none;
}

.header4 {
    border-top: none;
    padding: 10px;
}

.img4 {
    max-height: 100px;
    margin-top: 10px;
    
}

.h3_4 {
    color:hsla(42, 100%, 38%, 1);
    font-weight: 700;
    font-size: 1.25rem;
    max-width: 300px;
    margin-bottom: 12px;
}

.col5_4 {
    font-size: .80rem;
}

.o_report_layout_updated4 {
    h1, h2, h3 {
        color: hsla(42, 100%, 38%, 1);
        font-weight: bolder;
    }
    strong {
        color: hsla(42, 100%, 4%, 1);
    }
    table {
        &.o_main_table {
            margin-bottom: 0;
        }

        thead {
            color: black;
            tr th {
                border-top: 3px solid hsla(42, 100%, 32%, 1) !important;
                background-color: hsla(42, 100%, 80%, 0.53);
                text-transform: uppercase;
            }
            tr th:last-child {
            }
            tr th:first-child {
                width: 48%;
            }
        }
        tbody {
            color: #000;
            tr:first-child td {
                border-top: none;
            }
            tr:last-child td {
                border-bottom: 3px solid hsla(42, 100%, 32%, 1);
            }
            tr {
                td {
                    padding: 15px 5px;
                }
                td:last-child {
                }
            }
        }
    }
    /*Total table*/
    /* compat 12.0 */
    .row:not(#total) > div:has(table) {
        top: -16px;
    }
    /* row col rule compat 12.0 */
    .row > div > table,
    div#total table {
        tr {
            &:first-child td,
            &.o_subtotal {
                border-top: none !important;
            }
            &:last-child td,
            &.o_total {
                border-top: 1px solid gray('200') !important;
            }
        }
    }
}

.financial_info4{
    color: hsla(42, 100%, 38%, 1);
}

.footer {
    border-top: none;
}

.footer4 {
    font-size: .80rem;
    padding: 10px;
    border-top: none;
}

.col_5_4_1color{
    background-color:hsla(42, 100%, 32%, 1);
}

.col_4_4_2color{
    background-color: hsla(42, 100%, 38%, 1);

}

.col_2_4_3color{
    background-color:hsla(42, 100%, 50%, 0.75);

}
.col_1_4_4color{
    background-color:hsla(42, 100%, 75%, 1);

}
.col_1_4_5color{
    background-color:hsla(42, 100%, 82%, 1);    
}

.size_redueced4{
    height:10px; 
}

.row_margin{
    margin-bottom: 5px;
}