.header {
    border-top: none;
}

.header6 {
    border-top: none;
    padding: 10px;
}

.img6 {
    max-height: 100px;
    margin-top: 10px;
    
}

.h3_6 {
    color:hsla(115, 6%, 24%, 1);
    font-weight: 700;
    font-size: 1.25rem;
    max-width: 300px;
    margin-bottom: 12px;
}

.col5_6 {
    font-size: .80rem;
}

.o_report_layout_updated6 {

    .table {
        border-top: 1px solid hsla(115, 6%, 24%, 1);
    }

    .table td, .table th {
        border-top: none;
    }
    thead tr th {
        background-color: hsla(115, 6%, 24%, .25) !important;
        color: hsla(115, 6%, 24%, 1);
    }
    h2 span{
         background-color: hsla(115, 6%, 24%, .25) !important; 
      }  
    tbody {
        color: hsla(115, 6%, 24%, 1);
        tr {
            &:nth-child(odd) {
                /*background-color: hsla(115, 6%, 24%, .25);*/
            }
            &.o_line_section {
                color: hsla(115, 6%, 24%, 1);
                background-color: hsla(115, 6%, 24%, .25) !important;
            }
        }
    }
    /*Total table*/
    /* row div rule compat 12.0 */
    .row > div > table,
    div#total table {
        tr {
            &:nth-child(odd) {
                background-color: transparent !important;
            }
            /* first-child & last-child rule compat 12.0 */
            &:first-child,
            &:last-child,
            &.o_subtotal,
            &.o_total {
                border-top: none !important;
                td {
                    color: hsla(115, 6%, 24%, 1);
                    border-top: 1px solid gray('400') !important;
                }
            }
        }
        tr {
            &:last-child,
            &.o_total{
                background-color: hsla(115, 6%, 24%, .25) !important;
            }
        }
    }
}

.financial_info6{
    color:hsla(115, 6%, 24%, 1);
}

.footer {
    border-top: none;
}

.footer6 {
    font-size: .80rem;
    padding: 10px;
    border-top: none;
}

.col_5_6_1color{
    background-color:hsla(39, 0%, 56%, 1);
}

.col_4_6_2color{
    background-color:hsla(136, 100%, 24%, 1);

}

.col_2_6_3color{
    background-color:hsla(39, 97%, 45%, 1);

}
.col_1_6_4color{
    background-color:hsla(39, 0%, 29%, 1);

}
.col_1_6_5color{
    background-color:hsla(39, 0%, 56%, 1);    
}

.size_redueced6{
    height:10px; 
}

.row_margin{
    margin-bottom: 5px;
}